.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/gradle.xml

.idea/misc.xml

app/app.iml

.idea/gradle.xml

app/app.iml

.idea/misc.xml

.idea/gradle.xml
